$gray-one: #808285;
$gray-two: #939598;
$gray-three: #776c68;
$gray-four: #cbcbcb;
$gray-five: #58595b;
$gray-six: #a2a2a2;
$gray-seven: #d1d3d4;

$light-gray: #e6e7e8;
$dark-gray: #3a3a39;
$darker-gray: #231F20;

$red-one: #ff3333;
$red-two: #ff1600;

$white: #ffffff;
$black: #000000;

$blue: #3bb3c2;
$blue-two: #9DD9E0;


/* Bootstrap variable overrides */
$font-family-base: Calibri, Arial, sans-serif;
$font-size-h1: 24px;
$font-size-h2: 18px;
$font-size-h3: 13px;

$brand-primary: #808285;

$border-radius-base: 0;
